<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-danger">Home</a></li>
      <li class="nav-item"><a href="/learn" class="nav-link px-2 text-body-danger">Learn</a></li>
      <li class="nav-item"><a href="/faq" class="nav-link px-2 text-body-danger">FAQs</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-danger">About</a></li>
    </ul>
    <p class="text-center text-body-danger">&copy; 2024 Life at Waterfalls, Inc</p>
  </footer>
</div>